body {
  margin: 0 0;
  font-family: 'Arial', sans-serif;
  

  background-size: cover;
  background: #71513A;
  background-size: cover;
}

nav {
 
  background-color:#743a2f;;
  padding: 15px;
  display: flex;
  gap:75px;
  align-items: center;
}

nav i {
  font-size: 30px; 
  color: #D7C6AC; 
  padding-left: 20px;
  padding-right: 120px;

}

nav a {
  color: #D7C6AC;
 
  text-decoration: none;
margin-left:20px;
  font-size: 18px; 
}

nav a:hover {
  text-decoration: underline;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.slider {
  position: relative;
  width: 100%;
  height: 600px;
}

.slides {
  display: flex;
  width: 100%;
  height: 100%;
}

.slides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

.slides img.active {
  display: block;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-color: #D3AD7D;
  color:#743a2f;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
h5{
  text-align: center;
  font-size: 50px;
  color:#AF957D;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 25px;
  margin-top: 25px;
}
.theh{
  background-color: #BEA48B;
  border-radius: 10px;
padding-top:5px ;
padding-bottom: 5px;
  margin-top: 100px;
  margin-bottom: 40px;;
  margin-left: 20px;
  margin-right: 20PX;
}
h3{
  color:#743a2f;
font-size: 35px;
margin-left: 20px;
}
p{
  margin-top: 50px;
  margin-bottom: 10px;
  color:white;
  font-size: 20px;
  ;line-height: 1,5;
  margin-left: 20px;
}
button{
  border: none;
  margin-left: 20px;
  font-size: 20px;
  background-color:#743a2f;
  color:#D3AD7D;
  
  border-radius: 10px;
  padding: 10px;
}
a{
color:#D7C6AC;
margin-left: 20px;
font-size: 40px;
text-decoration: none;



}